#Mine h1{
font-family: "Tangerine";
font-size: 75px;
color:#FFFFFF;
text-align: center;
padding-top: 20px;
background-color:  #dd4f4f;
margin-top: 0;
margin-bottom: 0;
}

#Learn h2{
font-family: 'Asap';
color:#FFFFFF;
text-align: center;
padding-top: 40px;
padding-bottom: 40px;
margin-top: 0;
margin-bottom: 0;
}

#Learn {
  background-color: #4770d1;
  font-family: 'Asap';
}

#Cipher {
font-family: "Asap";
color:#FFFFFF;
text-align: left;
padding-top: 20px;
padding-bottom: 10px;
margin-top: 0;
margin-bottom: 0;
}

.key {
  width: 37px
}

#keys {
  margin: 0 auto;
}

#Cypher {
  width: 100%;
  margin: 0 auto;
}

#Cipher h5{
color:#FFFFFF;
text-align: center;
padding-top: 40px;
padding-bottom: 10px;
padding-right: 45px;
margin-top: 0;
margin-bottom: 0;
}

#sendMess {
  font-family: 'Asap';
  font-size: 19px;
}

#sendMess h2 {
  font-family: 'Asap';
}

img {
    display: block;
    margin: 0 auto;
    width: 750px;
}

body {
  margin: auto;
  background-color: #4770d1;
}

.quizcolor {
  background-color:  #dd4f4f;
  color: white;
  font-size: 24px
}

.tab {
  display: none;
}
.quiz {
  display: none;
  text-align: left;
  margin-top: 8%;
}

.navbarcolor {
  background-color:  #dd4f4f;
  margin-top: 0;
  padding-top: 0;
}
.navbarcolor li {
  padding-left: 5px;
  color: White;
  font-family: 'Asap';
  font-size: 20px;
}

.selectedtab {
  background-color: #4770d1;
}

.alert {
    padding: 20px;
    background-color: #dd4f4f;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.bolded {
  font-weight: 700;
}

.w3-modal {
  font-family: 'Asap';
}
